/* =================== MAIN GRID LAYOUT ======================= */
.main-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 17fr 83fr;
    height: 100vh;
}

.sidebar {
    grid-row: 1 / span 2;
    display: grid;
    grid-auto-rows: max-content;
    gap: 5vh;
}

.top-content {
    grid-column: 2 / span 1;
}

.body-content {
    /* grid-area: 2 / 2 / 3 / 3; */
}

/* ======================= SIDEBAR LAYOUT ======================= */

.sidebar-header {
    display: flex;
    align-items: center;
}

.sidebar-header-icon {
    height: 72px;
    width: auto;
    margin: 1vh;
    flex: 1;
}

.sidebar-header-text {
    font-size: 2em;
    flex: 3;
}

.toggle-theme-btn {
    position: fixed;
    top: 10px;
    right: 10px;
}