/* Temporary borders on all divs */
/* div {
    border: var(--border-btn);
} */

/* FONTS */
@font-face {
    font-family: 'Orbitron';
    src: url('fonts/orbitron-variablefont_wght-webfont.woff2') format('woff2'),
        url('fonts/orbitron-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Audiowide';
    src: url('fonts/audiowide-regular-webfont.woff2') format('woff2'),
        url('fonts/audiowide-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    /* Sizes */
    --btn-border-radius: 20px;

    /* --color-highlight: rgb(4, 214, 214); */
    --color-highlight: rgb(0, 209, 45);
}

/* ====================== DARK THEME ======================== */
:root.dark {

    /* Sizes / Borders ========================*/
    --border-btn: 1px solid rgb(220, 220, 220);

    /* Colors =================================*/
    --color-base-bg: rgb(18, 18, 18);
    --color-base-text: rgb(240, 240, 240);
    --color-sidebar-text: rgb(18, 18, 18);

    /* Header */
    --color-header-bg: rgb(45, 45, 45);

    /* Buttons */
    --color-btn-bg: rgb(5, 5, 5);
    --color-btn-bg-active: rgb(0, 167, 167);
    --color-btn-bg-hover: rgb(12, 202, 202);

    /* Menu Items */
    /* --color-menu-background: #0f4c6e; */
    --color-menu-background: var(--color-highlight);
    --color-menu-item-bg-hover: rgba(255, 255, 255, .3);
    --color-menu-item-shadow: rgb(20, 20, 20);

    /* Inputs */
    --color-input-bg: rgb(85, 85, 85);
    /* --color-input-shadow: rgba(180, 180, 180, 0.5); */
    --color-input-shadow: var(--color-highlight);


    /* Icons ===================================*/
    --icon-search: url('images/icons/DARK_search.svg');
    --icon-notification: url('images/icons/DARK_notification.svg');
    --icon-theme-toggle: url('images/icons/DARK_theme-light-dark.svg');
    --icon-favorite: url('images/icons/DARK_star.svg');
    --icon-follow: url('images/icons/DARK_follow.svg');
    --icon-share: url('images/icons/DARK_share.svg');

    --icon-dashboard: url('images/icons/DARK_dashboard.svg');
    --icon-home: url('images/icons/DARK_home.svg');
    --icon-profile: url('images/icons/DARK_profile.svg');
    --icon-messages: url('images/icons/DARK_message.svg');
    --icon-history: url('images/icons/DARK_history.svg');
    --icon-tasks: url('images/icons/DARK_tasks.svg');
    --icon-communities: url('images/icons/DARK_people.svg');
    --icon-settings: url('images/icons/DARK_settings.svg');
    --icon-support: url('images/icons/DARK_support.svg');
    --icon-privacy: url('images/icons/DARK_privacy.svg');



}

/* ======================= LIGHT THEME ======================== */
:root.light {
    /* Sizes / Borders ========================*/
    --border-btn: 1px solid rgb(36, 36, 36);

    /* Colors =================================*/
    --color-base-bg: rgb(240, 240, 240);
    --color-base-text: rgb(18, 18, 18);
    --color-sidebar-text: rgb(240, 240, 240);
    ;

    /* Header */
    --color-header-bg: rgb(220, 220, 220);

    /* Buttons */
    --color-btn-bg: rgb(180, 180, 180);
    --color-btn-bg-active: rgb(0, 167, 167);
    --color-btn-bg-hover: rgb(12, 202, 202);

    /* Menu Items */
    /* --color-menu-background: #1992d4; */
    --color-menu-background: var(--color-highlight);
    --color-menu-item-bg-hover: rgba(0, 0, 0, .3);
    --color-menu-item-shadow: rgb(20, 20, 20);

    /* Inputs */
    --color-input-bg: rgb(225, 225, 225);
    /* --color-input-shadow: rgba(120, 120, 120, 0.7); */
    --color-input-shadow: var(--color-highlight);

    /* Icons ===================================*/
    --icon-search: url('images/icons/LIGHT_search.svg');
    --icon-notification: url('images/icons/LIGHT_notification.svg');
    --icon-theme-toggle: url('images/icons/LIGHT_theme-light-dark.svg');
    --icon-favorite: url('images/icons/LIGHT_star.svg');
    --icon-follow: url('images/icons/LIGHT_follow.svg');
    --icon-share: url('images/icons/LIGHT_share.svg');

    --icon-dashboard: url('images/icons/LIGHT_dashboard.svg');
    --icon-home: url('images/icons/LIGHT_home.svg');
    --icon-profile: url('images/icons/LIGHT_profile.svg');
    --icon-messages: url('images/icons/LIGHT_message.svg');
    --icon-history: url('images/icons/LIGHT_history.svg');
    --icon-tasks: url('images/icons/LIGHT_tasks.svg');
    --icon-communities: url('images/icons/LIGHT_people.svg');
    --icon-settings: url('images/icons/LIGHT_settings.svg');
    --icon-support: url('images/icons/LIGHT_support.svg');
    --icon-privacy: url('images/icons/LIGHT_privacy.svg');

}


/* ============= ELEMENT THEME ===================== */
body {
    background-color: var(--color-base-bg);
    color: var(--color-base-text);
    font-family: 'Orbitron', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

/* =============== CLASSES ========================== */

/* Button */
.themed-btn {
    color: var(--color-sidebar-text);
    background-color: var(--color-menu-background);
    border: none;
    font-size: 1.125rem;
    padding: 5px 20px;
    border-radius: var(--btn-border-radius);
    cursor: pointer;
    transition: 0.2s ease;
}


.themed-btn:hover {
    outline: var(--border-btn);
    transform: scale(1.02);
    background: var(--color-btn-bg-hover);
    box-shadow: 2px 2px 10px var(--color-input-shadow);
}

.themed-btn:active {
    transform: translate(0px, -1px) scale(.98);
    background: var(--color-btn-bg-active);
}

/* .toggle-theme-btn {
    position: fixed;
    top: 10px;
    right: 10px;
} */


.title {
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
}


/* Font Application */
.sidebar-header-text,
.username,
.username-at,
.project-card-title,
.announce-card>h4,
.trending-title {
    font-family: 'Audiowide', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 1px 1px 3px var(--color-highlight);
}

Glowing Text .trending-user,
.username-at {}

/* ===================== SIDEBAR THEMEING ========================== */
.sidebar {
    background: var(--color-menu-background);
    color: var(--color-sidebar-text);
}

.menu-item {
    transition: 0.2s ease;
    margin-right: 20px;
    border-radius: 15px;
}

.menu-item:hover {
    background: var(--color-menu-item-bg-hover);
    cursor: pointer;
    font-size: 1.15em;
    box-shadow: 0 0 10px var(--color-menu-item-shadow);
}

.menu-item p {
    user-select: none;
}

#icon-dashboard {
    background-image: var(--icon-dashboard);
}

#icon-home {
    background-image: var(--icon-home);
}

#icon-profile {
    background-image: var(--icon-profile);
}

#icon-messages {
    background-image: var(--icon-messages);
}

#icon-history {
    background-image: var(--icon-history);
}

#icon-tasks {
    background-image: var(--icon-tasks);
}

#icon-communities {
    background-image: var(--icon-communities);
}

#icon-settings {
    background-image: var(--icon-settings);
}

#icon-support {
    background-image: var(--icon-support);
}

#icon-privacy {
    background-image: var(--icon-privacy);
}


/* ====================== HEADER THEMING ============================== */

.top-content {
    background: var(--color-header-bg);
    box-shadow: 0 0 10px var(--color-highlight);
}

.search {
    background-color: var(--color-input-bg);
    color: var(--color-base-text)
}

.search:focus {
    outline: none;
    box-shadow: 0 0 10px 2px var(--color-input-shadow);
    transition: box-shadow 0.3s ease;
}

.search-button {
    background-image: var(--icon-search);
}

.notification-button {
    background-image: var(--icon-notification);
}

.toggle-theme-button {
    background-image: var(--icon-theme-toggle);
}

.toggle-theme-button,
.search-button,
.notification-button {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    outline: none;
    border: none;
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.toggle-theme-button:hover:not(:active),
.notification-button:hover:not(:active),
.search-button:hover:not(:active) {
    box-shadow: 0 0 8px 2px var(--color-input-shadow);
    /* glowing focus/hover */
    transform: scale(1.05);
}

.toggle-theme-button:active,
.notification-button:active,
.search-button:active {
    box-shadow: 0 0 8px 2px var(--color-input-shadow);
    /* glowing focus/hover */
    transform: scale(0.95);
}

/* ==================== PROJECT CARDS ==================== */

.announcements h3,
.trending h3,
.body-left h3 {
    padding: 10px 25px;
    font-size: 1.3em;
}

.project-card {
    border-radius: 15px;
    box-shadow: 0 0 10px 2px var(--color-input-shadow);
    display: grid;
    grid-template-columns: 10px auto;
}

.project-card-highlight {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    background: var(--color-highlight);
}

.pCard-fav-btn {
    background-image: var(--icon-favorite);
}

.pCard-follow-btn {
    background-image: var(--icon-follow);
}

.pCard-share-btn {
    background-image: var(--icon-share);
}

.project-card-btn {
    transition: 0.2s ease;
}

.project-card-btn:hover {
    transform: scale(1.15);
}


/* ==================== ANNOUNCEMENT CARDS ================== */

.announce-card-container {
    /* border: var(--border-btn); */
    border-radius: 20px;
    box-shadow: 0 0 10px 2px var(--color-input-shadow);
    margin: 15px 15px;
}

.announce-card {
    padding: 0px 15px;
    padding-top: 15px;
}

.announce-card h4 {
    font-size: 1.2em;
}

.announce-desc {
    margin-top: 5px;
}

.announce-card-divider {
    background-color: var(--color-base-text);
    height: 1px;
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
}

/* ======================== TRENDING CARDS ================ */

.trending-card-container {
    /* border: var(--border-btn); */
    border-radius: 20px;
    box-shadow: 0 0 10px 2px var(--color-input-shadow);
    margin: 15px 15px;
}

.trending-card {
    padding: 0px 15px;
    padding-top: 15px;
}

.trending-user {
    align-self: flex-end;
}

.trending-title {
    font-size: 1.2em;
}