:root {
    /* Sizes */
    --btn-border-radius: 10px;
}

/* ====================== DARK THEME ======================== */
:root.dark {
    /* Sizes / Borders ========================*/
    --border-btn: 1px solid rgb(220, 220, 220);

    /* Colors =================================*/
    --color-base-bg: rgb(18, 18, 18);
    --color-base-text: rgb(240, 240, 240);

    /* Buttons */
    --color-btn-bg: rgb(36, 36, 36);
    --color-btn-bg-active: rgb(10, 10, 10);
    --color-btn-bg-hover: rgb(20, 20, 20);

    /* Menu Items */
    --color-menu-background: #0f4c6e;
    --color-menu-item-bg-hover: rgba(255, 255, 255, .3);

    /* Inputs */
    --color-input-bg: rgb(85, 85, 85);
    --color-input-shadow: rgba(180, 180, 180, 0.5);

    /* Icons ===================================*/
    --icon-search: url('images/icons/DARK_search.svg');
    --icon-notification: url('images/icons/DARK_notification.svg');
    --icon-theme-toggle: url('images/icons/DARK_theme-light-dark.svg');

}

/* ======================= LIGHT THEME ======================== */
:root.light {
    /* Sizes / Borders ========================*/
    --border-btn: 1px solid rgb(36, 36, 36);

    /* Colors =================================*/
    --color-base-bg: rgb(240, 240, 240);
    --color-base-text: rgb(18, 18, 18);

    /* Buttons */
    --color-btn-bg: rgb(220, 220, 220);
    --color-btn-bg-active: rgb(200, 200, 200);
    --color-btn-bg-hover: rgb(180, 180, 180);

    /* Menu Items */
    --color-menu-background: #1992d4;
    --color-menu-item-bg-hover: rgba(0, 0, 0, .3);
    --color-input-shadow: rgba(180, 180, 180, 0.5);

    /* Inputs */
    --color-input-bg: rgb(225, 225, 225);

    /* Icons ===================================*/
    --icon-search: url('images/icons/LIGHT_search.svg');
    --icon-notification: url('images/icons/LIGHT_notification.svg');
    --icon-theme-toggle: url('images/icons/LIGHT_theme-light-dark.svg');
}


/* ============= ELEMENT THEME ===================== */
body {
    background-color: var(--color-base-bg);
    color: var(--color-base-text);
}

/* =============== CLASSES ========================== */

/* Button */
/* .themed-btn {
    color: var(--color-base-text);
    background-color: var(--color-btn-bg);
    border: var(--border-btn);
    font-size: 1.125rem;
    padding: 10px 20px;
    border-radius: var(--btn-border-radius);
}


.themed-btn:hover {
    outline: var(--border-btn);
    transform: scale(1.02);
    background: var(--color-btn-bg-hover);
}

.themed-btn:active {
    transform: translate(0px, -1px) scale(.98);
    background: var(--color-btn-bg-active);
}

.toggle-theme-btn {
    position: fixed;
    top: 10px;
    right: 10px;
} */


.title {
    display: flex;
    justify-content: center;
}

ul {
    list-style: none;
}

/* Temporary borders on all divs */
div {
    border: var(--border-btn);
}


/* ===================== SIDEBAR THEMEING ========================== */
.sidebar {
    background: var(--color-menu-background);
    color: rgb(240, 240, 240);
}

.menu-item:hover {
    background: var(--color-menu-item-bg-hover);
    cursor: pointer;
    font-size: 1.15em;
}

.menu-item p {
    user-select: none;
}


/* ====================== HEADER THEMING ============================== */

.search {
    background-color: var(--color-input-bg);
    color: var(--color-base-text)
}

.search:focus {
    outline: none;
    box-shadow: 0 0 10px 2px var(--color-input-shadow);
    transition: box-shadow 0.3s ease;
}

.search-button {
    background-image: var(--icon-search);
}

.notification-button {
    background-image: var(--icon-notification);
}

.toggle-theme-button {
    background-image: var(--icon-theme-toggle);
}

.toggle-theme-button,
.search-button,
.notification-button {
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    outline: none;
    border: none;
    cursor: pointer;
    transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.toggle-theme-button:hover:not(:active),
.notification-button:hover:not(:active),
.search-button:hover:not(:active) {
    box-shadow: 0 0 8px 2px var(--color-input-shadow);
    /* glowing focus/hover */
    transform: scale(1.05);
}

.toggle-theme-button:active,
.notification-button:active,
.search-button:active {
    box-shadow: 0 0 8px 2px var(--color-input-shadow);
    /* glowing focus/hover */
    transform: scale(0.95);
}